

<div><h4>Basic Parameters</h4></div>
<ul>
	<li><%= f.label "Lot Name:" %>	<%= f.text_field :name %><br></li>

	<li><%= f.label "Tester Name:" %>	<%= f.text_field :tester %><br></li>

	<li><%= f.label "Device Name:" %>	<%= f.collection_select :device, Device.all, :id, :name %><br></li>

	<li><%= f.label "Total Device Count:" %>
		<%= f.number_field :total_device_count, min: 0, step: 1 %></li>

	<li><%= f.label "Site Number(max 8):" %>
		<%= f.select :site_number, [['1', 1], ['2', 2], ['4', 4], ['8', 8]] %></li>

	<li><%= f.label "Generate Mode:" %>
		<%= f.select :generate_mode, [['Normal', 1], ['Cliff', 2], ['Site Difference', 3]] %></li>
</ul>

<div><h4>Normal Generation Parameters</h4></div>
<ul>
	<li><%= f.label "Yield:" %>
		<%= f.number_field :basic_yield, :class => 'text_field', min: 0.0, max: 100.0, step: 0.01 %></li>
</ul>


<div><h4>Cliff Parameters</h4></div>
<ul>
	<li><%= f.label "Cliff Number:" %>
		<%= f.number_field :cliff_number, min: 0, step: 1 %></li>
	<li><%= f.label "First Region Yield:" %>
		<%= f.number_field :first_region_yield, :class => 'text_field', min: 0.0, max: 100.0, step: 0.01 %></li>
	<li><%= f.label "Second Region Yield:" %>
		<%= f.number_field :second_region_yield, :class => 'text_field', min: 0.0, max: 100.0, step: 0.01 %></li>
</ul>


<div><h4>Site Difference Parameters</h4></div>
<ul>
	<%= f.label :site_0_enable do %>
		<%= f.check_box :site_0_enable  %>
		Enable Site 0, yield:
		<%= f.number_field :site_0_yield, :class => 'text_field', min: 0.0, max: 100.0, step: 0.01 %>
	<% end %>

	<br>
	<%= f.label :site_1_enable do %>
		<%= f.check_box :site_1_enable  %>
		Enable Site 1, yield:
		<%= f.number_field :site_1_yield, :class => 'text_field', min: 0.0, max: 100.0, step: 0.01 %>
	<% end %>

	<br>
	<%= f.label :site_2_enable do %>
		<%= f.check_box :site_2_enable  %>
		Enable Site 2, yield:
		<%= f.number_field :site_2_yield, :class => 'text_field', min: 0.0, max: 100.0, step: 0.01 %>
	<% end %>

	<br>
	<%= f.label :site_3_enable do %>
		<%= f.check_box :site_3_enable  %>
		Enable Site 3, yield:
		<%= f.number_field :site_3_yield, :class => 'text_field', min: 0.0, max: 100.0, step: 0.01 %>
	<% end %>

	<br>
	<%= f.label :site_4_enable do %>
		<%= f.check_box :site_4_enable  %>
		Enable Site 4, yield:
		<%= f.number_field :site_4_yield, :class => 'text_field', min: 0.0, max: 100.0, step: 0.01 %>
	<% end %>

	<br>
	<%= f.label :site_5_enable do %>
		<%= f.check_box :site_5_enable  %>
		Enable Site 5, yield:
		<%= f.number_field :site_5_yield, :class => 'text_field', min: 0.0, max: 100.0, step: 0.01 %>
	<% end %>

	<br>
	<%= f.label :site_6_enable do %>
		<%= f.check_box :site_6_enable  %>
		Enable Site 6, yield:
		<%= f.number_field :site_6_yield, :class => 'text_field', min: 0.0, max: 100.0, step: 0.01 %>
	<% end %>

	<br>
	<%= f.label :site_7_enable do %>
		<%= f.check_box :site_7_enable  %>
		Enable Site 7, yield:
		<%= f.number_field :site_7_yield, :class => 'text_field', min: 0.0, max: 100.0, step: 0.01 %>
	<% end %>
</ul>


<% if @lot.errors.any? %>
	<ul>
		<% @lot.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
	</ul>
<% end %>
