

<div class="page-header">
	<h1>Site Difference Mode Rules <small><%= @lot.name %></small></h1>
</div>

<%= form_tag edit_site_path do %>
	<% @sites.each do |site| %>
		<%= fields_for "sites[#{site.id}]", site do |s| %>
			site <%= site.site_serial %>, belongs to <%= site.lot.name %> ID <%= site.id %><br>
		<% end %>
	<% end %>
  <%= submit_tag "Submit" %>
	<%= link_to 'back to lot index', :controller => 'lots', :action => 'index' %>
<% end %>

